.calculator-box{
  width: 255px;
  height: 285px;
  overflow: hidden;
  margin: 0 auto;
  .calculator{
    width: 270px;
    height: 300px;
    li{
      float: left;
      width: 73px;
      height: 58px;
      text-align: center;
      line-height: 58px;
      border: 1px solid #ddd;
      margin: 0 15px 15px 0;
      font-size: 16px;
      cursor: pointer;
    }
    li:active{
      background: $bBlue;
      color: #fff;
    }
    .shanc{
      position: relative;
    }
    .shanc:after{
      content: '';
      @include positCenter;
      width: 37px;
      height: 25px;
      background: url("../../../img/icon.png") no-repeat -237px 0;
    }
    .shanc:active:after{
      background: url("../../../img/icon.png") no-repeat  -300px 0;
    }
  }
}
