@charset "utf-8";
section{
  border-top: 45px solid transparent;
  border-bottom: 50px solid transparent;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
}
//placeholder
hr{
  display: block;
  width: 100%;
  border: none;
}
@media screen and (min-width: $bigMin) {
  hr{
    padding-top: 22px;
  }
}
@media screen and (min-width: $mediumMin) and (max-width: $mediumMax) {
  hr{
    padding-top: 15px;
  }
}
@media screen and (min-width: $smallMin) and (max-width: $smallMax) {
  hr{
    padding-top: 11px;
  }
}
@media screen and (min-width: $padPattern) {
  section {
    border-top: 60px solid transparent;
  }
}

//动画

.loadEffect {
  width: 31px;
  height: 31px;
  position: relative;
  margin: 0 auto;
}

.loadEffect span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #3b83ef;
  position: absolute;
  -webkit-animation: load 1.04s ease infinite; }

@-webkit-keyframes load {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }
.loadEffect span:nth-child(1) {
  top: 42%;
  right: 82%;
  -webkit-animation-delay: 0.13s; }

.loadEffect span:nth-child(2) {
  top: 12%;
  right: 70%;
  -webkit-animation-delay: 0.26s; }

.loadEffect span:nth-child(3) {
  top: -1%;
  right: 39%;
  -webkit-animation-delay: 0.39s; }

.loadEffect span:nth-child(4) {
  top: 13%;
  right: 12%;
  -webkit-animation-delay: 0.52s; }

.loadEffect span:nth-child(5) {
  top: 44%;
  right: 4%;
  -webkit-animation-delay: 0.65s; }

.loadEffect span:nth-child(6) {
  top: 70%;
  right: 15%;
  -webkit-animation-delay: 0.78s; }

.loadEffect span:nth-child(7) {
  top: 82%;
  right: 42%;
  -webkit-animation-delay: 0.91s; }

.loadEffect span:nth-child(8) {
  top: 70%;
  right: 72%;
  -webkit-animation-delay: 1.04s; }
