@charset "utf-8";
.select-store {
  section {
    border-top: 0;
  }
  h1 {
    width: 100%;
    height: get_rem(80);
    line-height: get_rem(80);
    text-align: center;
    font-size: $f16;
  }
  a {
    display: block;
    width: 100%;
    height: get_rem(50);
    line-height: get_rem(50);
    margin-bottom: get_rem(6);
    padding-left: get_rem(10);
    background-color: $fff;
    box-sizing: border-box;
    border-top: 1px solid $bdc;
    border-bottom: 1px solid $bdc;
  }
  a:active{
    color: $bBlue;
  }
  @media screen and (min-width: $padPattern) {
    h1 {
      height: 160px;
      line-height: 160px;
    }
  }
}